html, body {
    font-family                 : 'PingFangSC-Regular';
    // 防止苹果手机点击闪屏
    -webkit-tap-highlight-color : transparent;
    // user-select                 : none;
    // -webkit-overflow-scrolling  : touch;
    height                      : 100%;
    scroll-behavior             : smooth;
  }
  
  body {
    padding-bottom : constant(safe-area-inset-bottom);
    font-size: 18px;
  }
  
  h1, h2, h3, p, ul, li, body {
    margin  : 0;
    padding : 0;
  }

::selection {
    background: #fde6ba;
    color: #000;
}
  
  [v-cloak] {
    display : none
  }